#tableHeader{
    background-color:greenyellow;
    padding-left: 33px;
    align-items: space-between;
    width: 100px;
    margin-top:20px;
}
#text p{
    background-color:grey;
    font-weight: bold;
    color: white;
    width:330px;
}
